.settings {
    width: 700px;
    height: 600px;
    background: black;
    color: white;
    font-size: 25px;
    font-family: Courier, sans-serif;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.settings__difficulty, .settings__size {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.settings__start {
    margin-top: 50px;
    width: 200px;
    height: 40px;
    font-size: 25px;
    background: red;
    border: none;
    color: white;
    text-transform: uppercase;
}

.selected {
    opacity: 0.5;
}

div button {
    font-size: 20px;
    height: 35px;
}

button {
    cursor: pointer;
}

.settings__text {
    width: 100%;
    text-align: center;
}

.visually-hidden:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

h1 {
    margin-bottom: 0;
    color: green;
}

.version {
    margin-top: 5px;
}